body {
    font-family: 'Montserrat';
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 17px 0;
    background: #FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 0;
}

/* perguntar sobre header e as diversas coisas nesse sentido */



main > article {
    padding: 104px 122px 0;
}

article h1 {
    color: #FFA000;
    text-transform: lowercase;
    margin: 0 0 69px;
}
/* perguntar novamente flex wrap*/
.receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-receita {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 345px;
    margin: 0 0 116px;
}

.link-receita img {
    width: 345px;
    height: 342px;
    display: block;
    margin: 0 0 12px;
}

.link-receita span {
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    text-transform: lowercase;
    margin: 0 0 24px;
    
}

.link-receita a {
    color: #ffffff;
    background: #176902;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 43px;
    text-transform: lowercase;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: left;
    background: #FFC107;
    padding: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: lowercase;

    color: #FFFFFF;
}

footer img {
    padding: 18px 38px 17px 6px;
    margin: 0;
}
footer li {
    padding: 51px 0 46px 0;
    margin: 0;
    list-style: none;
}